h1 {
  color: white;
}

.container {
  display: flex;
  width: 600px;
  height: 600px;
}

.grid-row {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.85);
  flex: 1;
}

.grid-cell {
  display: flex;
  flex: 1;
}

button {
}

body {
  background: url("easBg.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
